<%
function time(time){
  return (time <= 9)?'0'+time:time;
}
%>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>DataTables</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
       <!-- /.row -->
       <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
              </div>

              <!-- /.card-header -->
              <div class="card-body">
                  <form style="position: absolute; margin: -1px 0px 0px -7px;" action="/absensi/search" method="POST" class="input-group input-group-sm col-3">
                    <input type="date" name="inputSearch" class="form-control" value="<%= tanggal.getFullYear() %>-<%= time(tanggal.getMonth()+1) %>-<%= tanggal.getDate() %>">
                    <span class="input-group-append">
                      <button type="submit" name="search" class="btn btn-success btn-sm">Tampilkan</button>
                    </span>
                  </form>
                  <!-- <form action="/absensi/search" method="POST" class="col-3" style="margin: 0px 0px 0px 300px;">
                      <div class="input-group input-group-sm ">
                        <input type="date" name="inputSearch" class="form-control" value="2020-07-19">
                        <span class="input-group-append">
                          <button type="submit" name="search" class="btn btn-primary btn-sm">Search</button>
                        </span>
                      </div>
                  </form> -->
                  <form action="/absensi" method="POST">
                    <button type="submit" class="btn btn-success btn-sm tambahA" style="visibility: hidden; margin: 0px 0px 5px 263px;"> <i class="fa fa-save"></i> Masukan Data Absensi</button>
                    <!-- <div class="card-tools">
                      <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
    
                        <div class="input-group-append">
                          <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                      </div>
  
                    </div> -->
             
                  <%
                    const hari = ['Minggu','Senin','Selasa','Rabu','Kamis','Jumat','Sabtu'];
                    const bulan = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'];
                  %>
                  <div class="alert" style="margin-bottom: 0px; background-color: #99ccff ;">Data Absensi Hari <strong><%= hari[tanggal.getDay()]%>, <%= time(tanggal.getDate())%> <%= bulan[tanggal.getMonth()]%> <%= tanggal.getFullYear()%></strong></strong>
                  </div>
                  <div class="table-responsive-lg">
                    <table id="example2" class="table table-bordered table-hover" >
                      <thead>
                      <tr>
                        <th>No.</th>
                        <th>NIP</th>
                        <th>Nama</th>
                        <th>Sift</th>
                        <th>Status</th>
                        <th>Jam Masuk</th>
                        <th>Jam Pulang</th>
                        <th>Keterangan</th>
                        <th>Aksi</th>
                      </tr>
                      </thead>
                      <tbody>
    
                        <%
    
                       let no = 1;
    
                        dataP.forEach((eP,iP)=>{
                          let html = '';
                          dataA.forEach((eA,iA)=>{
    
                            if(eP.id == eA.idPegawai.id){
                              return html = `
                                      <tr>
                                        <td>${no++}</td>
                                        <td>${eA.idPegawai.nip}</td>
                                        <td>${eA.idPegawai.nama}</td>
                                        <td>${eA.sift}</td>
                                        <td>${eA.status}</td>
                                        <td>${eA.jamMasuk}</td>
                                        <td>${eA.jamPulang}</td>
                                        <td>${eA.ket}</td>
                                        <td>
                                            <button type="button" class="btn btn-default btn-sm btnUbahA"
                                            data-toggle="modal" data-target="#myModal"
                                            data-idA="${eA.id}"
                                            data-nama="${eA.idPegawai.nama}" 
                                            data-sift="${eA.sift}" 
                                            data-status="${eA.status}"
                                            data-jamMasuk="${eA.jamMasuk}"
                                            data-jamPulang="${eA.jamPulang}"
                                            data-ket="${eA.ket}"
                                            ><i class="fa fa-edit"></i>
                                            </button>

                                              <a href="/absensi/delete/${eA.id}" class="btn btn-default btn-sm"><i class="fa fa-trash-alt"></i></a>

                                            
                                        </td>
                                      </tr>
                              `
                            }
    
                          })
    
                          if(html == ''){
                            html = `
                            <tr>
                              <td>${no++}</td>
                              <td>${eP.nip}</td>
                              <td>${eP.nama}</td>
                              <input name="id" type="hidden" value="${eP.id}"">
                              <input type="hidden" name="tanggal" value="${tanggal.getFullYear()}.${tanggal.getMonth()}.${tanggal.getDate()}">
                              <td>
                                  <select name="sift" class="form-control sift" >
                                    <option value="">--Pilih--</option>
                                    <option class="siftOpt" value="1">1</option>
                                    <option class="siftOpt" value="2">2</option>
                                    <option class="siftOpt" value="3">3</option>
                                  </select>
                              </td>
                              <td>
                                <select name="status" class="form-control status" >
                                  <option value="">--Pilih--</option>
                                  <option class="statusOpt" value="masuk">Masuk</option>
                                  <option class="statusOpt" value="sakit">Sakit</option>
                                  <option class="statusOpt" value="izin">Izin</option>
                                  <option class="statusOpt" value="alpha">Alpha</option>
                                </select>
                              </td>
                              <td><input name="jamMasuk" type="time" class="form-control jamMasuk"></td>
                              <td><input name="jamPulang" type="time" class="form-control jamPulang"></td>
                              <td><input name="ket" type="text" class="form-control" placeholder="tulis..."></td>
                              <td>
  
                              </td>
                            </tr>
                            `
    
                          } %>
    
                          <%- html %>
    
                       <% }) %>
    
    
                        
                      </tbody>
                    </table>
                  </div>
              </div>
              <!-- /.card-body -->
            </form>
            </div>


          </div>
        </div>
        <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->



<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

      </div>
      <div class="modal-body modalUbahA">
        <form action="/absensi" method="POST">
          <table sid="example2" class="table table-bordered table-hover">
            <thead>
              <th>Nama</th>
              <th>Sift</th>
              <th>Status</th>
              <th>Jam Masuk</th>
              <th>Jam Pulang</th>
              <th>Keterangan</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <input type="hidden" name="_method" value="PUT">
                <input name="id" class="id" type="hidden">
                <td><input type="text" class="form-control nama" disabled></td>
                <td>
                    <select name="sift" class="form-control sift" >
                      <option value="">--Pilih--</option>
                      <option class="siftOpt" value="1">1</option>
                      <option class="siftOpt" value="2">2</option>
                      <option class="siftOpt" value="3">3</option>
                    </select>
                </td>
                <td>
                  <select name="status" class="form-control status" >
                    <option value="">--Pilih--</option>
                    <option class="statusOpt" value="masuk">Masuk</option>
                    <option class="statusOpt" value="sakit">Sakit</option>
                    <option class="statusOpt" value="izin">Izin</option>
                    <option class="statusOpt" value="alpha">Alpha</option>
                  </select>
                </td>
                <td><input name="jamMasuk" type="time" class="form-control jamMasuk"></td>
                <td><input name="jamPulang" type="time" class="form-control jamPulang"></td>
                <td><input name="ket" type="text" class="form-control ket" placeholder="tulis..."></td>
              </tr>
            </tbody>

          </table>

        
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"> Simpan</i></button>
      </div>
    </div>
  </form>
  </div>
</div>