<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
         
            
          <div class="card">
              
            <div class="card-header">
              <!-- <h3 class="card-title">DataTable with default features</h3> -->
            </div>
            <!-- /.card-header -->


            <div class="card-body">
              <a style="margin-bottom: 3px;" href="/kasbon/tambah" class="btn btn-success btn-sm"><i class="fa fa-plus-square"> Tambah Kasbon</i></a>
              <% if(messages.error){ %>
                <div class="alert alert-danger alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5><i class="icon fas fa-ban"></i> Gagal!</h5>
                  <%= messages.error %>
                </div>
                <% } %>
              <% if(messages.success){ %>
                  <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-check"></i> Berhasil!</h5>
                    <%- messages.success %>
                  </div>
                <% } %>
                <div class="alert" style="margin: 0px 0px 0px 0px; background-color: #99ccff ; height: 50px;"><p style="font-size: 15px;"> Catatan : <em><u>Pembayaran akan dilakukan pada saat Penggajian!! </u></em></p>
                </div>
              <table id="example2" class="table table-bordered">
                <thead>
                <tr>
                  <th>Status</th>
                  <th>NIP</th>
                  <th>Nama</th>
                  <th>Jumlah</th>
                  <th>Sisa Kasbon</th>
                  <th>Tanggal Kasbon</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <%
                
                function rupiah(nilai){
                  const sisa = nilai.toString().length % 3
                  let rupiah = nilai.toString().substr(0,sisa)
                  let ribu = nilai.toString().substr(sisa).match(/\d{3}/gi)//the method match() retrieves the result ofmatching a string against a regex, and become a array
                  separator = sisa && nilai.toString().length > 3?'.':'';
                    
                  if(ribu){
                    rupiah+=separator+ribu.join('.')
                  }
                  return "Rp. "+rupiah;
                }

                data.forEach((e,i)=>{ 
                  const tanggal = new Date(e.tglKasbon);
                  function tgl(tgl){
                    return (tgl <= 9)?'0'+tgl:tgl;
                  }
                  let bg = 'bg-danger';
                  let potongan = '';

                  if(e.status == 'Lunas') bg = 'bg-success';  
                  if(e.bayar > 0) potongan = `- ${rupiah(e.bayar)}`;
                  %>
                  <tr>
                    <td><p class="<%= bg %>" style="width:fit-content;"><%= e.status %></p></td>
                    <td><%= e.idPegawai.nip %></td>
                    <td><%= e.idPegawai.nama %></td>
                    <td><%= rupiah(e.jmlKasbon) %></td>
                    <td><%= rupiah(e.sisaKasbon) %> <p style="color: red;"><%= potongan %></p></td>
                    <td><%= tgl(tanggal.getDate()) %>/<%= tgl(tanggal.getMonth()+1 ) %>/<%=tanggal.getFullYear() %></td>
                    <td>
                      <%
                      
                      if(e.status == 'Belum Lunas'){ %>
                        <form action="/kasbon/bayar" method="POST" style="display: none;" class="formBayar">
                            <input type="hidden" name="_method" value="PUT">
                            <input type="hidden" name="id" value="<%= e.id %>">
                            <input style="margin-bottom: 5px;" class="form-control currency" type="text" name="bayar" value="<%= potongan %>" required>
                            <div class="btn-group">
                              <button type="submit" class="btn btn-success btn-sm" style="color: white;">Bayar
                              </button>
                              <button type="button" class="btn btn-danger btn-sm kembaliFormKasbon" style="color: white;"><i class="fa fa-arrow-circle-left	
                                "></i> Batal
                              </button>
                            </div>

                        </form>

                      <div class="row aksi">

                        <button data-value="<%= e.bayar %>" data-id="<%= e.id %>" class="btn btn-success btn-sm bayarKasbon" style="color: white; margin-right: 2px;">Bayar
                        </button>

                        <form  action="/kasbon/lunasi" method="POST">
                          <input type="hidden" name="_method" value="PUT">
                          <input type="hidden" name="id" value="<%= e.id %>">
                          <input type="hidden" name="nip" value="<%= e.idPegawai.nip %>">
                          <button onclick="return confirm('Yakin ingin Melunasi??')" type="submit" class="btn btn-success btn-sm" style="color: white; margin-left:0px;"></i>Lunasi</button>
                        </form>
                      <% }else{ %>
                          <form  action="/kasbon" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="id" value="<%= e.id %>">
                            <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-trash-alt"></i></button>
                          </form>

                      <% } %>



                      </div>
                    </td>
                  </tr>
                <% }) %>
                </tbody>
                
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
    <div>

      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

