<% active = ''; %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Bagian</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Bagian</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
         
            
          <div class="card">
              
            <div class="card-header">
                <a href="/bagian/tambah" class="btn btn-danger"><i class="fa fa-plus"> Tambah Bagian</i></a>
              <!-- <h3 class="card-title">DataTable with default features</h3> -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>No.</th>
                  <th>Bagian</th>
                  <th>Uang Makan</th>
                  <th>Insentif</th>
                  <th>Aksi</th>
                </tr>
                </thead>
                <tbody>
                <% data.forEach((e,i)=>{ %>
                <tr >
                  <td><%= i+=1 %></td> 
                  <td><%= e.namaBagian %></td>
                  <td><%= currency(e.uangMakan) %></td>
                  <td><%= currency(e.insentif) %></td>
                  <!-- <td><%= e.insentif %></td> -->
                  <td>
                      <div class="btn-group" style="color: white;">
                        <a class="btn btn-success btn-flat" href="/bagian/edit/<%= e.idBagian%>">
                            <i class="fas fa-edit " style="color: white;"></i>
                          </a>
                        <form  action="/bagian" method="POST">
                          <input type="hidden" name="_method" value="DELETE">
                          <input type="hidden" name="idBagian" value="<%= e.idBagian %>">
                          <button onclick="return confirm('Yakin ingin menghapus data?')" type="submit" class="btn btn-danger btn-flat"> <i class="fas fa-trash" style="color: white;"></i></button>
                        </form>
                      </div>
                    
                  </td>
                </tr>
                <%} ); %>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->