<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Bagian</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        
        <div class="col-md-11">
          <% if(messages.error){ %>
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h5><i class="icon fas fa-ban"></i> Gagal!</h5>
              <%= messages.error  %>
            </div> 
            <% } %>
          <!-- Horizontal Form -->
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Ubah Data Bagian</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="POST" action="/bagian" class="form-horizontal">
              <div class="card-body">
                <div class="form-group row">
                  <label for="namaBagian" class="col-sm-2 col-form-label">Bagian</label>
                  <div class="col-sm-4">
                    <input value="<%= data.namaBagian %>" name="namaBagian" type="text" class="form-control" id="namaBagian" required>
                  </div>
                </div>
                
                <div class="form-group row">
                  <label for="uangMakan" class="col-sm-2 col-form-label">Uang Makan</label>
                  <div class="col-sm-4">
                    <input value="<%= data.uangMakan %>" name="uangMakan" type="text" class="form-control currency" id="uangMakan" required>
                  </div>
                </div>
                
                <div class="form-group row">
                  <label for="insentif" class="col-sm-2 col-form-label">Insentif</label>
                  <div class="col-sm-4">
                    <input value="<%= data.insentif %>" name="insentif" type="text" class="form-control currency" id="insentif" required>
                  </div>
                </div>

              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="idBagian" value="<%= data.idBagian %>">
                <button type="submit" class="btn btn-info"> <i class="fa fa-save"></i> Simpan</button>
              </div>
              <!-- /.card-footer -->
            </form>
          </div>
          <!-- /.card -->

        </div>
        <!--/.col (left) -->
        
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->