<%
function time(time){
  return (time <= 9)?'0'+time:time;
}
%>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Gaji</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Gaji</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
       <!-- /.row -->
      <!-- table 1 -->

      <%
      let tableRow1 = '';
      let tableRow2 = '';
      let noRowTable1 = 1;
      let noRowTable2 = 1;

      data.forEach((e,i)=>{
        const {karyawan:kar,bagian:bag,gaji:gaj} = e;
        let bool = false;

          if(gaj.idGaji!=null){
            
            tableRow2+= `
            <tr>
              <td>${noRowTable1++}</td>
              <td>${gaj.nik}</td>
              <td>${kar.nama}</td>
              <td>${currency(gaj.uangLembur)}</td>
              <td style="color: red;">${currency(gaj.potKasbon)}</td>
              <td>${currency(gaj.jumGaji)}</p></td>
              <td>
                <div class="row" style="margin-left:10px;">
                    <button  style="margin-right: 2px;" type="button" class="btn btn-sm btn-success btnDetailGaji"
                    data-toggle="modal"
                    data-target="#modalDetailGaji"
                    data-tglPenggajian="${moment(tanggal).format('DD/MM/YYYY')}"
                    data-mulaiTglHit="${moment(gaj.mulaiTglHit).format('DD/MM/YYYY')}"
                    data-akhirTglHit="${moment(gaj.akhirTglHit).format('DD/MM/YYYY')}"
                    data-nik="${gaj.nik}"
                    data-namaBagian="${bag.namaBagian}"
                    data-nama="${kar.nama}"
                    data-upahPerHari="${currency(kar.upahPerHari)}"
                    data-gajiPokok="${currency(gaj.gajiPokok)}"
                    data-insentif="${currency(bag.insentif)}"
                    data-totinsentif="${currency(gaj.totInsentif)}"
                    data-jumharimasuk="${gaj.jumHariMasuk}"
                    data-jumJamLembur="${gaj.jumJamLembur}"
                    data-uangLembur="${currency(gaj.uangLembur)}"
                    data-uangmakan="${currency(gaj.uangMakan)}"
                    data-uangLainlain="${currency(gaj.uangLainlain)}"
                    data-potonganLainnya="${currency(gaj.potonganLainnya)}"
                    data-potKasbon="${currency(gaj.potKasbon)}"
                    data-jumGaji="${currency(gaj.jumGaji)}"
                    data-ket="${gaj.ket}"
                    data-idgaji="${gaj.idGaji}"
                    ><i class="fa fa-list-alt"></i> Detail</button>

                    ${
                      login==='Administrasi'?
                      `
                      <button  style="margin-right: 2px;" type="button" class="btn btn-sm btn-default btnUbahGaji"
                      data-toggle="modal"
                      data-target="#myModalUbah"
                      data-idGaji="${gaj.idGaji}"
                      data-nik="${kar.nik}"
                      data-nama="${kar.nama}"
                      data-mulaiTglHit="${gaj.mulaiTglHit}"
                      data-akhirTglHit="${gaj.akhirTglHit}"
                      data-uangLainlain="${gaj.uangLainlain}"
                      data-potonganLainnya="${gaj.potonganLainnya}"
                      data-potKasbon="${gaj.potKasbon}"
                      data-ket="${gaj.ket}"
                      ><i class="fa fa-edit"></i> Edit</button>`:``
                    }
  
                    <!-- <form  action="/gaji" method="POST">
                      <input type="hidden" name="_method" value="DELETE">
                      <input type="hidden" name="id" value="${gaj.idGaji}">
                      <button onclick="return confirm('Yakin ingin menghapus data?')" type="submit" class="btn btn-default btn-sm"><i class="fa fa-trash-alt"></i></button>
                    </form> -->
                </div>
              </td>
            </tr>
              `
          }else{
            tableRow1 +=`                 
            <tr>
              <td>${noRowTable2++}</td>
              <td>${kar.nik}</td>
              <td>${kar.nama}</td>
              <td>${kar.jenKelamin}</td>
              <td>
                ${
                  login==="Administrasi"?
                  `
                  <button
                    data-toggle="modal" data-target="#myModalTambah"
                    data-nik = "${kar.nik}"
                    data-nama = "${kar.nama}"
                    type="button" class="btn btn-sm btn-success btnTambahGaji"><i class="fa fa-edit"></i>
                    Gaji
                  </button>
                  `:``
                }
              </td>
            </tr>
            `
          }
      })%>

       <div class="row">
        <div class="col-8">
          <% if(messages.error){ %>
            <div style="margin-bottom: 2px;" class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h5><i class="icon fas fa-ban"></i> Gagal!</h5>
              <p style="font-size: 15px;">
                <%- messages.error %>
              </p>
            </div>
            <% } %>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"></h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
              
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">

              <table class="table table-head-fixed">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>NIK</th>
                    <th>Nama</th>
                    <th>Jenis Kelamin</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <%- tableRow1 %>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->

        <!--table 2-->
       <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">

              </div>

              <!-- /.card-header -->
              <div class="card-body table-responsive">
                <form style="margin: 0px 0px 3px -7px;" action="/gaji/search" method="POST" class="input-group input-group-sm col-3">
                  <input type="date" name="tgl" class="form-control" value="<%= tanggal %>">
                  <span class="input-group-append">
                    <button type="submit" class="btn btn-success btn-sm">Tampilkan</button>
                  </span>
                </form>
            <%
            const hari = ['Minggu','Senin','Selasa','Rabu','Kamis','Jumat','Sabtu'];
            const bulan = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'];
          %>
          <% if(messages.success){ %>
            <div style="margin-bottom: 3px; width: 1200px;" class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h5><i class="icon fas fa-check"></i> Berhasil!</h5>
              <%= messages.success %>
            </div>
          <% } %>
          <div class="alert" style="margin-bottom: 0px; background-color: #99ccff ; width: 1200px;">Data Gaji Hari <strong><%= hari[moment(tanggal).day()]%>, <%= time(moment(tanggal).date())%> <%= bulan[moment(tanggal).month()]%> <%= moment(tanggal).year()%></strong>
          </div>
                <div class="table-responsive-lg">
                  <table style="width: max-content; min-width: 1200px;" id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>NIK</th>
                        <th>Nama</th>
                        <th>Uang lembur</th>
                        <th>Potongan Kasbon</th>
                        <th>Jumlah Gaji</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                        <%- tableRow2 %>
                      </tbody>
                  </table>
                </div>
              </div>
              <!-- /.card-body -->
            </form>
            </div>


          </div>
        </div>
        <!-- /.row -->


  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->



  <!-- Modal -->
  <div class="modal fade" id="myModalTambah" role="dialog" >
    <div class="modal-dialog modal-lg" style="width: 580px;">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4> -->
        </div>
        <div class="modal-body modalTambahGaji">
            <form action="/gaji/tambah" method="POST">
                <div class="form-group row">

                  <input type="hidden" name="tgl" value="<%=  tanggal %>">
                  <label for="np" class="col-sm-3 col-form-label">NIK</label>
                  <div class="col-sm-8">
                    <input name="nik" type="number" class="form-control nik" readonly>
                  </div>
                </div>

              <div class="form-group row">
                <label for="np" class="col-sm-3 col-form-label">Nama</label>
                <div class="col-sm-8">
                  <input name="nama" type="text" class="form-control nama" readonly>
                </div>
              </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Tanggal Hitung</label>
                  <div class="col-sm-8">
                      <div class="input-group">
                          <input name="mulaiTglHit" type="date" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy"  required data-mask style="margin-right: 10px;">
                          -
                          <input name="akhirTglHit" type="date" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy"  required data-mask style="margin-left: 10px;">
                      </div>
                        <!-- /.input group -->
                  </div>
                </div>
            
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> Tambahkan</button>
        </div>
    </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModalUbah" role="dialog" >
    <div class="modal-dialog modal-lg" style="width: 580px;">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4> -->
        </div>
        <div class="modal-body modalUbahGaji">
            <form action="/gaji/ubah" method="POST">
              <!-- <input type="hidden" name="_method" value="PUT"> -->
              <input type="hidden" name="idGaji" class="idGaji">
              <input type="hidden" name="potKasbon" class="potKasbon">
              <input type="hidden" name="uangLainlain" class="uangLainlain">
              <input type="hidden" name="potonganLainnya" class="potonganLainnya">
              <input type="hidden" name="tgl" value="<%=  tanggal %>">
              <input type="hidden" name="ket" class="ket">
                <div class="form-group row">
                  
                  <label for="nik" class="col-sm-3 col-form-label">NIK</label>
                  <div class="col-sm-8">
                    <input type="number" name="nik" class="form-control nik" readonly>
                  </div>
                </div>

              <div class="form-group row">
                <label for="np" class="col-sm-3 col-form-label">Nama</label>
                <div class="col-sm-8">
                  <input name="nama" type="text" class="form-control nama" readonly>
                </div>
              </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Tanggal Hitung</label>
                  <div class="col-sm-8">
                      <div class="input-group">
                          <input name="mulaiTglHit" type="date" class="form-control mulaiTglHit" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy"  required data-mask style="margin-right: 10px;">
                          -
                          <input name="akhirTglHit" type="date" class="form-control akhirTglHit" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy"  required data-mask style="margin-left: 10px;">
                      </div>
                        <!-- /.input group -->
                  </div>
                </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> Ubah</button>
        </div>
    </form>
      </div>
    </div>
  </div>

   <!-- Modal -->

   <div class="modal fade" id="modalDetailGaji" role="dialog" >
    <div class="modal-dialog modal-lg" style="width: 600px;">
      <div class="modal-content modalDetailGaji">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4> -->
        </div>
        <div class="modal-body">

            <div class="container">         
                <table id="tabelDetail">
                  <tbody>
                    <!-- <tr>
                      <td>Status</td>
                      <td class="status" colspan="2"></td>
                    </tr> -->
                    <tr>
                      <td>Tanggal Penggajian</td>
                      <td class="tglPenggajian" colspan="2"></td>
                    </tr>
                    <tr style="border-bottom: solid;">
                      <td>Tanggal Hitung</td>
                      <td class="tglHitung" colspan="2"></td>
                    </tr>
                    <tr>
                      <td>NIK</td>
                      <td class="nik" colspan="2"></td>
                    </tr>
                    <tr>
                      <td>Bagian</td>
                      <td class="namaBagian" colspan="2"></td>
                    </tr>
                    <tr style="border-bottom: solid;">
                      <td>Nama</td>
                      <td class="nama" colspan="2"></td>
                    </tr>
                    <tr style="border-bottom: 1px solid #959494;">
                        <td>Gaji Pokok</td>
                        <td class="upahPerHari"></td>
                        <td class="gajiPokok"></td>
                      </tr>
                      <tr style="border-bottom: 1px solid #959494;">
                        <td>Lembur</td>
                        <td class="jumJamLembur"></td>
                        <td class="uangLembur"></td>
                      </tr>
                      <tr style="border-bottom: 1px solid #959494;">
                        <td colspan="2" >Insentif</td>
                        <td class="totInsentif"></td>
                      </tr>
                      <tr style="border-bottom: 1px solid #959494;">
                        <td colspan="2">Uang Makan</td>
                        <td class="uangMakan"></td>
                      </tr>
                      <tr style="border-bottom: 1px solid #959494;" >
                        <td colspan="2">Uang Lain-lain</td>
                        <td class="uangLainlain"></td>
                      </tr>
                      <tr style="border-bottom: 1px solid #959494;" >
                        <td colspan="2">Potongan Lainnya</td>
                        <td class="potLainnya"></td>
                      </tr>
                      <tr style="border-bottom: solid;">
                        <td colspan="2">Potongan Kasbon</td>
                        <td class="potKasbon"></td>
                      </tr>
                      <tr style="border-bottom: solid;">
                        <td  colspan="2" ><strong>Jumlah Gaji di Terimah</strong></td>
                        <td class="jumGaji"></td>
                      </tr>
                      <tr>
                        <td style="vertical-align: text-top;">Keterangan</td>
                        <td class="ket" colspan="2" style="vertical-align: text-top;"></td>
                      </tr>
                  </tbody>
                </table>
              </div>

        </div>
        <div class="modal-footer">
          <form action="/gaji/slip" method="POST">
            <input type="hidden" class="idGaji" name="idGaji">
            <button style="margin-right: 12px;" type="submit" class="btn btn-sm btn-success"> <i class="fa fa-print"></i> Cetak Slip</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>

  const btnDetailGaji = document.querySelectorAll('.btnDetailGaji');
  const modalDetailGaji = document.querySelector('.modalDetailGaji');

  btnDetailGaji.forEach(e=>{
    e.addEventListener('click',function(){
      // modalDetailGaji.querySelector('.status').innerHTML = ': '+ this.dataset.status;
      modalDetailGaji.querySelector('.tglPenggajian').innerHTML = ': '+ this.dataset.tglpenggajian;
      modalDetailGaji.querySelector('.tglHitung').innerHTML = ': '+ this.dataset.mulaitglhit +' - '+this.dataset.akhirtglhit;
      modalDetailGaji.querySelector('.nik').innerHTML = ': '+ this.dataset.nik;
      modalDetailGaji.querySelector('.namaBagian').innerHTML = ': '+ this.dataset.namabagian;
      modalDetailGaji.querySelector('.nama').innerHTML = ': '+ this.dataset.nama;
      modalDetailGaji.querySelector('.upahPerHari').innerHTML = ': '+ this.dataset.jumharimasuk+' hari x ' + this.dataset.upahperhari;
      modalDetailGaji.querySelector('.gajiPokok').innerHTML = ': '+ this.dataset.gajipokok;
      // modalDetailGaji.querySelector('.insentif').innerHTML = ': '+this.dataset.jumharimasuk+' hari x ' + this.dataset.insentif;
      modalDetailGaji.querySelector('.totInsentif').innerHTML = ': '+ this.dataset.totinsentif;
      modalDetailGaji.querySelector('.jumJamLembur').innerHTML = ': '+ this.dataset.jumjamlembur+' Jam';
      modalDetailGaji.querySelector('.uangLembur').innerHTML = ': '+ this.dataset.uanglembur;
      modalDetailGaji.querySelector('.uangMakan').innerHTML = ': '+ this.dataset.uangmakan;
      modalDetailGaji.querySelector('.uangLainlain').innerHTML = ': '+ this.dataset.uanglainlain;
      modalDetailGaji.querySelector('.potLainnya').innerHTML = ': '+ this.dataset.potonganlainnya;
      modalDetailGaji.querySelector('.jumGaji').innerHTML = ': '+ this.dataset.jumgaji;
      modalDetailGaji.querySelector('.potKasbon').innerHTML = ': '+ this.dataset.potkasbon;
      modalDetailGaji.querySelector('.ket').innerHTML = ': '+ this.dataset.ket;
      modalDetailGaji.querySelector('.idGaji').value = this.dataset.idgaji;
  
    })
  })
    
  const btnTambahGaji = document.querySelectorAll('.btnTambahGaji');
  const modalTambahGaji = document.querySelector('.modalTambahGaji');

  btnTambahGaji.forEach((e,i)=>{
    e.addEventListener('click',function(){
      modalTambahGaji.querySelector('.nik').value = this.dataset.nik;
      modalTambahGaji.querySelector('.nama').value = this.dataset.nama;
    })
  });

  const btnUbahGaji = document.querySelectorAll('.btnUbahGaji');
  const modalUbahGaji = document.querySelector('.modalUbahGaji');

  btnUbahGaji.forEach(e=>{
    e.addEventListener('click',function(){
      console.log(modalUbahGaji.querySelector('.potKasbon').value)
      modalUbahGaji.querySelector('.idGaji').value = this.dataset.idgaji
      modalUbahGaji.querySelector('.nik').value = this.dataset.nik
      modalUbahGaji.querySelector('.nama').value = this.dataset.nama;
      modalUbahGaji.querySelector('.mulaiTglHit').value = this.dataset.mulaitglhit;
      modalUbahGaji.querySelector('.akhirTglHit').value = this.dataset.akhirtglhit;
      modalUbahGaji.querySelector('.uangLainlain').value = this.dataset.uanglainlain;
      modalUbahGaji.querySelector('.potonganLainnya').value = this.dataset.potonganlainnya;
      modalUbahGaji.querySelector('.potKasbon').value = this.dataset.potkasbon;
      modalUbahGaji.querySelector('.ket').value = this.dataset.ket;
    })
  })
  </script>